.navbar {
  background-color: #333;
  color: white;
  padding: 0.75rem 2rem;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: bold;
  color: white;
  margin-right: 1.5rem;
}

.nav-link {
  color: rgb(37, 37, 37);
  margin-right: 1rem;
  text-decoration: none;
  font-size: 0.95rem;
}

.nav-right {
  display: flex;
  align-items: center;
}
